<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>나아라 - 리뷰</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <br>
        <h2 class="mb-4"><%= hospital.name %></h2>

        <div class="card mt-4">
            <div class="card-header">
                리뷰 달기
            </div>
            <div class="card-body">
                <form action="/comments/write" method="POST" onsubmit="if(!confirm('한 번 작성한 리뷰는 삭제 및 수정이 불가합니다.')) {return false; }">
                    <div class="form-group">
                        <textarea name="description" id="description" cols="30" rows="5" class="form-control" placeholder="한 번 작성한 리뷰는 삭제 및 수정이 불가합니다."></textarea>
                    </div>
                    <div class=" d-flex justify-content-end">
                        <input type="hidden" name="writer_id" value="<%= user_id %>">
                        <input type="hidden" name="hospital_id" value="<%= hospital._id %>">
                        <button type="submit" class="btn btn-primary">완료</button>
                    </div>
                </form>

            </div>
        </div>

        <% comments.forEach((comment)=> { %>
            <div class="card mt-4">
                <div class="card-body">
                    <div class="card-subtitle text-muted mb-2 row">
                        <div class="col-md-1 font-weight-bold"><%= comment.writer_id %></div>
                        <div class="col-md-2"><%= comment.created_at.toLocaleDateString() %></div>
                    </div>
                    <div class="card-text mb-2">
                        <%= comment.description %>
                    </div>
                </div>
            </div>
            <% }) %>

        <br>
    </div>
</body>

</html>