<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>나아라</title>

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
        rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <style>
        a {
            text-decoration: none;
            color: rgb(63, 63, 63);
        }
    </style>
</head>

<body>
    <br>
    <div class="container">
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand" href="/">나아라 <%= category %></a>
            <form class="form-inline">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button"><a href="/">검색하기</a></button>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        커뮤니티
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/community/clinics">상담게시판</a>
                        <a class="dropdown-item" href="/community/questions">질문게시판</a>
                    </div>
                </div>
            </form>
        </nav>

        <% if (locals.user) { %>
        <button type="button" class="btn btn-success" onclick="location.href='/mypage'">마이페이지</button>
        
        <form class="d-inline" action="/process/logout" method="POST">
            <button type="submit" class="btn btn-outline-success">
                로그아웃
            </button>
        </form>
        <% } else { %>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
            로그인
        </button>

        <!-- Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">로그인</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/process/login" method="POST">
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="inputId" class="col-sm-2 col-form-label">아이디</label>
                                <div class="col-sm-10">
                                    <input type="text" required name="inputId" class="form-control" id="inputId"
                                        placeholder="ID" minlength="5" maxlength="20">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">비밀번호</label>
                                <div class="col-sm-10">
                                    <input type="password" required name="inputPassword" class="form-control"
                                        id="inputPassword" placeholder="Password" minlength="7">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            <button type="submit" class="btn btn-primary">완료</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#signupModal">
            회원가입
        </button>

        <!-- Modal -->
        <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="signupModalLabel">회원가입</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/process/signup" method="POST">
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="createId" class="col-sm-2 col-form-label">아이디</label>
                                <div class="col-sm-10">
                                    <input type="text" required name="createId" class="form-control" id="createId"
                                        placeholder="ID" minlength="5" maxlength="20">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="createPassword" class="col-sm-2 col-form-label">비밀번호</label>
                                <div class="col-sm-10">
                                    <input type="password" required name="createPassword" class="form-control"
                                        id="createPassword" placeholder="Password" minlength="7">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            <button type="submit" class="btn btn-primary">완료</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% } %>
        <!-- Page Header-->
        <header class="masthead">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1><%= posting.title %></h1>
                            <span class="meta">
                                Posted at <%= posting.created_at.toLocaleString() %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p><%= posting.description %></p>
                    </div>
                </div>
            </div>
        </article>
        <!-- Divider-->
        <hr class="my-4" />
        <!-- 댓글 작성 -->
        <form action="/community/<%= category %>/comment-post" method="POST">
            <div class="form-group">
                <textarea name="description" id="description" cols="30" rows="5" class="form-control"
                    placeholder="한 번 작성한 리뷰는 삭제 및 수정이 불가합니다. (5글자 이상부터 등록 가능)"></textarea>
            </div>
            <div class=" d-flex justify-content-end">
                <input type="hidden" name="writer" value="<%= user %>">
                <input type="hidden" name="posting_id" value="<%= posting._id %>">
                <span id="description_cnt">(0 / 500)&nbsp;&nbsp;</span>
                <button id="submit_btn" type="submit" class="btn btn-primary" disabled>완료</button>
            </div>
        </form>
        <script>
            // 댓글 입력 개수 Count
            $(document).ready(function () {
                $("#description").on("keyup", function () {
                    // key 입력되자마자 몇 글자인지 바로바로 출력
                    $("#description_cnt").html("(" + $(this).val().length + " / 500)");

                    if ($(this).val().length < 5) {
                        // 5글자 미만이면 댓글 작성 불가
                        const btn = document.getElementById("submit_btn");
                        btn.disabled = true;
                    } else if ($(this).val().length >= 5) {
                        // 5글자 이상이면 댓글 작성 가능
                        const btn = document.getElementById("submit_btn");
                        btn.disabled = false;
                    }
                    if ($(this).val().length > 500) {
                        // 500 글자 초과하면, 초과한 글자는 자동으로 삭제
                        $(this).val($(this).val().substring(0, 500));
                        $("#description_cnt").html("(500 / 500)");
                    }
                });
            });
        </script>
        
        <!-- 댓글 출력 -->
        <% comments.forEach((comment)=> { %>
        <div class="card mt-4">
            <div class="card-body">
                <div class="card-subtitle text-muted mb-2 row">
                    <div class="col-md-2 font-weight-bold">
                        익명
                    </div>
                    <div class="col-md-4">
                        <%= comment.created_at.toLocaleString() %>
                    </div>
                    <% if (comment.writer == user) { %>
                    <div class="col-md-2">
                        <form action="/community/del/<%= comment._id %>?_method=DELETE" method="POST" class="d-inline" onsubmit="if(!confirm('삭제하시겠습니까?')){return false;}">
                            <input type="submit" class="btn btn-danger" value="삭제">
                            <input type="hidden" value="<%= category %>" name="category">
                            <input type="hidden" value="<%= posting._id %>" name="posting_id">
                        </form>
                    </div>
                    <% } %>
                </div>
                <div class="card-text mb-2">
                    <%= comment.description %>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</body>

</html>