<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>admin</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
        a {
            text-decoration: none;
            color: rgb(63, 63, 63);
        }
    </style>
</head>

<body>
    <br>
    <div class="container">
        <h2 class="mb-4"><a href="/">나아라</a></h2>

        <a href="/admin" class="btn btn-danger">관리자 페이지</a>

        <form class="d-inline" action="/process/logout" method="POST">
            <button type="submit" class="btn btn-outline-danger">
                로그아웃
            </button>
        </form>


        <div class="card mt-4">
            <div class="card-body">
                <form method="GET">
                    <!-- Kakao API start -->
                    <div class="form-group row">
                        <label for="sample4_roadAddress" class="col-sm-2 col-form-label">도로명 주소</label>
                        <div class="col-sm-8">
                            <input type="text" name="inputAddr" class="form-control" id="sample4_roadAddress" placeholder="도로명주소" required>
                        </div>
                        <div class="col-sm-2">
                            <input type="button" class="btn btn-outline-info" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                        </div>
                    </div>
                    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                    <script>
                        //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
                        function sample4_execDaumPostcode() {
                            new daum.Postcode({
                                oncomplete: function (data) {
                                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                                    var extraRoadAddr = ''; // 참고 항목 변수

                                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                                        extraRoadAddr += data.bname;
                                    }
                                    // 건물명이 있고, 공동주택일 경우 추가한다.
                                    if (data.buildingName !== '' && data.apartment === 'Y') {
                                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                    }
                                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                    if (extraRoadAddr !== '') {
                                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                                    }

                                    // 주소 정보를 해당 필드에 넣는다.
                                    document.getElementById("sample4_roadAddress").value = roadAddr;
                                }
                            }).open();
                        }
                    </script>
                    <!-- Kakao API end -->
                    <div class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">병원 종류</legend>
                            <div class="col-sm-8">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="inputType" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="이비인후과" required>
                                    <label class="form-check-label" for="inlineRadio1">이비인후과</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="inputType" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="내과">
                                    <label class="form-check-label" for="inlineRadio2">내과</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="inputType" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="외과">
                                    <label class="form-check-label" for="inlineRadio3">외과</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="inputType" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="정형외과">
                                    <label class="form-check-label" for="inlineRadio4">정형외과</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="inputType" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="안과">
                                    <label class="form-check-label" for="inlineRadio5">안과</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="inputType" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="치과">
                                    <label class="form-check-label" for="inlineRadio6">치과</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="inputType" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="피부과">
                                    <label class="form-check-label" for="inlineRadio7">피부과</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="inputType" type="radio" name="inlineRadioOptions" id="inlineRadio8" value="한의원">
                                    <label class="form-check-label" for="inlineRadio8">한의원</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="inputType" type="radio" name="inlineRadioOptions" id="inlineRadio9" value="가정의학">
                                    <label class="form-check-label" for="inlineRadio9">가정의학과</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">검색 필터</legend>
                            <div class="col-sm-8">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="inputFilter" type="radio" id="inlineCheckbox1" value="all" required>
                                    <label class="form-check-label" for="inlineCheckbox1">전체보기</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="inputFilter" type="radio" id="inlineCheckbox2" value="infant">
                                    <label class="form-check-label" for="inlineCheckbox2">소아과 보기</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">주소 필터</legend>
                            <div class="col-sm-8">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="addrFilter" type="radio" id="inlineCheckbox3" value="lo" required>
                                    <label class="form-check-label" for="inlineCheckbox3">-로 단위</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="addrFilter" type="radio" id="inlineCheckbox4" value="gu">
                                    <label class="form-check-label" for="inlineCheckbox4">-구 단위</label>
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <button type="submit" class="d-inline btn btn-info">검색</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <% if (results) { %>
            <div class="card mt-4">
                <div class="card-body">
                    <% if (Array.isArray(results)) { %>
                        <% results.forEach((result)=> { %>
                            <div class="row">
                                <h4 class="col-md-8 card-title">
                                    <a href="/test/?left=<%= result.coord[1] %>&right=<%= result.coord[0] %>"><%= result.name %></a>

                                </h4>
                                <a class="col-md-2 btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter" style="cursor: pointer">자세히 보기</a>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle"><%= result.name %> &#9888; <span class="text-muted" style="font-size: 0.75rem">신고횟수</span></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-2">주소</div>
                                                    <div class="col-md-10"><%= result.addr %></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">번호</div>
                                                    <div class="col-md-4"><%= result.telno %></div>
                                                    <div class="col-md-2">의사 수</div>
                                                    <div class="col-md-4"><%= result.drTotCnt %>명</div>
                                                </div>
                                                <div id="map" style="width:100%;height:350px;"></div>
                                                
                                                <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9366bbe70b91ad10596a2fbc0e5fc13b"></script>
                                                <script>
                                                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                                                        mapOption = {
                                                            center: new kakao.maps.LatLng(<%= result.coord[1] %>, <%= result.coord[0] %>), // 지도의 중심좌표
                                                            level: 1 // 지도의 확대 레벨
                                                        };

                                                    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

                                                    // 마커가 표시될 위치입니다 
                                                    var markerPosition = new kakao.maps.LatLng(<%= result.coord[1] %>, <%= result.coord[0] %>);
                                                    // 마커를 생성합니다
                                                    var marker = new kakao.maps.Marker({
                                                        position: markerPosition
                                                    });

                                                    // 마커가 지도 위에 표시되도록 설정합니다
                                                    marker.setMap(map);

                                                // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
                                                // marker.setMap(null);    
                                                </script>
                                                <br>
                                                <div class="card">
                                                    <div class="card-header">writer</div>
                                                    <div class="card-body">
                                                        <p class="card-text">댓글 내용</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="col-md-2 btn btn-outline-success" onclick="copyHospitalName_naverAPI_popup('<%= result.name %>')">길찾기</button>
                            </div>
                            <div class="card-subtitle text-muted mb-2"><%= result.type_code %></div>
                            <div class="row">
                                <div class="col-md-8 card-text mb-2">
                                    주소: <%= result.addr %>
                                </div>
                                <div class="col-md-4 card-text mb-2">
                                    번호: <%= result.telno %>
                                </div>
                            </div>
                            <% }); %>
                        <% } else { %>
                            <div class="card-text mb-2">
                                <h4><%= results %></h4>
                            </div>
                        <% } %>
                </div>
            </div>
        <% } %>
    </div>
    <br>

    <script>
        function copyHospitalName_naverAPI_popup(hospital_name) {
            navigator.clipboard.writeText(hospital_name);

            let width = 1000;
            let height = 600;
            let top = (window.innerHeight - height) / 2 + screenY;
            let left = (window.innerWidth - width) / 2 + screenX;

            let spec = `width=${width}, height=${height}, top=${top}, left=${left}`;
            window.open('https://map.naver.com/v5/directions/-/-/-/transit?c=14105669.4948920,4517401.3924641,9,0,0,0,dh', '네이버 지도', spec);
        }

        // get querystring and set form values as searched
        const URLSearch = new URLSearchParams(location.search); // get querystring
        document.getElementById("sample4_roadAddress").value = URLSearch.get("inputAddr"); // set Addr
        // set inputType checked
        let inputTypes = document.getElementsByName("inputType");
        inputTypes.forEach((el) => {
            if (el.value === URLSearch.get("inputType"))
                el.checked = true;
        });
        // set inputFilter checked
        let inputFilters = document.getElementsByName("inputFilter");
        inputFilters.forEach((el) => {
            if (el.value === URLSearch.get("inputFilter"))
                el.checked = true;
        });

        let addrFilters = document.getElementsByName("addrFilter");
        addrFilters.forEach((el) => {
            if (el.value === URLSearch.get("addrFilter"))
                el.checked = true;
        })
    </script>
</body>

</html>